<section class="container">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-alpha py-3">
    <a class="navbar-brand font-weight-bold text-nav" href="/">DWIGHT DIESMO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        {{range .Site.Data.nav}}
        <a class="nav-item nav-link px-3 text-nav" href="{{.navLink}}"
          >{{.navName}}</a
        >
        {{end}}
      </div>
    </div>
  </nav>
</section>
